body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  overflow: hidden;
}

canvas {
  border: 1px solid #fff;
}

.panelContainer {
  display: flex;
  position: absolute;
  gap: 10px;
}

#upperPanelContainer {
  flex-direction: column;
  top: 10px;
  left: 10px;
  align-items: flex-start;
}

#lowerPanelContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  align-items: flex-end;
}

#controlPanel,
#debug,
.legend,
#infoPanel {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  user-select: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#debug {
  font-family: monospace;
  font-size: 12px;
  color: #333;
  overflow-wrap: break-word;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.legend h3 {
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.legend-color {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.color-picker {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  opacity: 0;
  pointer-events: none;
}

/* Hide the default checkbox */
input[type="checkbox"] {
  display: none;
}

/* Create a custom rectangular button */
input[type="checkbox"] + label {
  display: inline-block;
  padding: 5px 10px;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px; /* Add some space between the label and the button */
}

/* Change background color when checked */
input[type="checkbox"]:checked + label {
  background-color: green;
}
